[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "multiScaleR"]
	path = multiScaleR
	url = https://github.com/wpeterman/multiscaler
